@page "/about-us"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [AllowAnonymous]
<PageTitle>About Us</PageTitle>

<h3>About Us</h3>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Our Mission</h4>
            <p>We aim to connect learners and educators worldwide.</p>
        </div>
        <div class="col-md-6">
            <h4>Our Capabilities</h4>
            <p>Skill sharing, collaboration tools, and more.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h4>Our Team</h4>
            <p>A diverse group of innovators and educators.</p>
        </div>
    </div>
    @if (isAuthenticated)
    {
        <p>Welcome, @userName!</p>
    }
    else
    {
        <p>Please <a href="/Identity/Account/Login">log in</a> to subscribe.</p>
    }
    <button class="btn btn-primary" @onclick="Subscribe">Subscribe</button>
</div>

@code {
    private bool isAuthenticated;
    private string? userName;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        userName = user.Identity?.Name ?? "Guest";
    }

    private async Task Subscribe()
    {
        // Placeholder for subscription logic
    }
}

