@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center font">
    <h1 class="display-4">Добро пожаловать на платформу БАРТЕР</h1>
    <h3 class="display-6" style="font-weight: 400; margin: 25px">Учись и обучай</h3>
    <img style="margin-top:-40px"class="img-fluid" src="~/fon2 (1).png" />
</div>
